[user]
	name = Vince Forgione
	email = vince.4gione@icloud.com
	identitfyfile = ~/.ssh/id_ed25519
	signingkey = B123139FFDB7FBA0

[init]
  defaultBranch = main

[color]
	ui = true
	diff = true

[alias]
	prune = fetch --prune
	undo = reset --soft ^HEAD
	stash-all = stash save --include-untracked

[status]
	showUntrackedFiles = all

[commit]
	gpgsign = true

[pull]
  rebase = false

[core]
	editor = vim

[gpg]
	program = /usr/local/bin/gpg
